<template>
  <circle
    @click='hello'
    id="circle"
    cx="418.5"
    cy="386.5"
    r="34.5"
    style="fill:rgb(255,20,0);stroke:black;stroke-width:6.58px;"
  />
</template>
<script>
export default {
  name: 'S-Circle',
  methods: {
    hello () {
      console.log('Clicked')
    }
  }
}
</script>
