<template>
  <g
  @mousemove="mouse"
  id="rectangle" transform="matrix(1,0,0,1,22.5,80)">
    <rect
      x="514"
      y="240"
      width="207"
      height="160"
      style="fill:rgb(0,180,255);stroke:black;stroke-width:6.58px;"
    />
  </g>
</template>
<script>
export default {
  name: 'S-Square',
  methods: {
    mouse (event) {
      console.log(event)
    }
  }
}
</script>
