<template>
  <path
    id="triangle"
    d="M620.5,205L663,290L578,290L620.5,205Z"
    style="stroke:rgb(255,0,247);stroke-width:6.58px;"
  />
</template>
<script>
export default {
  name: 'S-Triangle'
}
</script>
