<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 1280 800"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
  >
    <s-square />
    <s-triangle />
    <s-circle />
  </svg>
</template>
<script>
import Circle from '@/components/Circle.vue'
import Square from '@/components/Square.vue'
import Triangle from '@/components/Triangle.vue'

export default {
  components: {
    's-circle': Circle,
    's-square': Square,
    's-triangle': Triangle
  }
}
</script>
